<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Book Notes</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <nav>
        <div class="logo">📚 Book Notes</div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/add">Add Book</a>
            <a href="/reviews">My Reviews</a>
            <a href="/about">About</a>
        </div>
    </nav>

    <section class="about-section">
        <h1>About Book Notes</h1>

        <p>
            Book Notes is a personal book review website where I can save books I have read,
            write reviews, store important notes, add ratings, and remember key ideas later.
        </p>

        <p>
            This project was built using Node.js, Express.js, EJS, PostgreSQL,
            and the Open Library Covers API.
        </p>

        <p>
            The goal of this project is to create a simple personal reading library that stores
            my book notes permanently and helps me revisit important ideas anytime.
        </p>
    </section>

    <footer>
        Made with Node.js, Express, EJS, PostgreSQL and Open Library Covers API.
    </footer>
</body>
</html>