<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add new Book</title>
        <link rel="stylesheet" href="/styles/main.css" />
    </head>
    <body>
        <nav>
            <div class="logo">📚 Book Notes</div>

            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/add">Add Book</a>
                <a href="/reviews">My Reviews</a>
                <a href="/about">About</a>
            </div>
        </nav>

        <section class="form-header">
            <h1>Add a New Book</h1>
            <p>Fill in the details below to save your book review and notes.</p>
        </section>

        <form action="/add" method="post" class="page-form">
            <label for="title">Book Title</label>
            <input
                id="title"
                name="title"
                placeholder="Example: Atomic Habits"
            />

            <label for="author">Author</label>
            <input
                id="author"
                name="author"
                placeholder="Example: James Clear"
            />

            <label for="isbn">ISBN</label>
            <input id="isbn" name="isbn" placeholder="Example: 9780735211292" />

            <label for="rating">Rating</label>
            <input
                id="rating"
                name="rating"
                type="number"
                min="1"
                max="5"
                placeholder="Rate from 1 to 5"
            />

            <label for="review">Review</label>
            <textarea
                id="review"
                name="review"
                placeholder="Write your review"
            ></textarea>

            <label for="notes">Notes</label>
            <textarea
                id="notes"
                name="notes"
                placeholder="Write important notes from the book"
            ></textarea>

            <label for="date_read">Date Read</label>
            <input id="date_read" type="date" name="date_read" />

            <button type="submit">Save Book</button>
        </form>

        <footer>
            Made with Node.js, Express, EJS, PostgreSQL and Open Library Covers
            API.
        </footer>
    </body>
</html>
